.title {
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.form-title {
    text-align: center;
    margin-top: 2rem;
}

.form-container {
    max-width: 500px;
    margin: auto;
    margin-top: 2rem;
}

.card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-inline {
    gap: rem;
}

.card-body {
    width: 100%;
}

ul, li {
    list-style-type: none;
}
