<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Countries</title>
    </head>
    <body>
        <h1>Menu</h1>
        <ul>
            <li><a href="/city/form">Add a city</a></li>
            <li><a href="/city/show">Cities</a></li>
            <li><a href="/country/form">Add a country</a></li>
            <li><a href="/country/show">Countries</a></li>
            <li><a href="/club/form">Add a Club</a></li>
            <li><a href="/club/show">Clubs</a></li>
        </ul>

        <h3>Countries</h3>
        <ul>
            {{#countries}}
                <li><a href="/country/show/{{id}}">{{name}}</a></li>
            {{/countries}}
            {{^countries}}
                <li>No countries available</li>
            {{/countries}}
        </ul>
    </body>
</html>
