<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Club</title>
    </head>
    <body>
        <h1>Menu</h1>
        <ul>
            <li><a href="/city/form">Add a city</a></li>
            <li><a href="/city/show">Cities</a></li>
            <li><a href="/country/form">Add a country</a></li>
            <li><a href="/country/show">Countries</a></li>
            <li><a href="/club/form">Add a Club</a></li>
            <li><a href="/club/show">Clubs</a></li>
        </ul>
        <h3>Clubs</h3>
        <ul>
            {{#club}}
                <li>{{country}} - {{city}} - {{name}} =>
                    <a href="/club/edit/{{id}}">Edit</a>
                    <button id="deleteClub" onclick="deleteClub({{id}})">Delete</button>
                </li>
            {{/club}}
            {{^club}}
                <li>No club found</li>
            {{/club}}
        </ul>
        <script src="/js/ClubActions.js"></script>
    </body>
</html>
