<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Club</title>
        <script src="/js/ClubActions.js"></script>
    </head>
    <body>
        <h1>Menu</h1>
        <ul>
            <li><a href="/city/form">Add a city</a></li>
            <li><a href="/city/show">Cities</a></li>
            <li><a href="/country/form">Add a country</a></li>
            <li><a href="/country/show">Countries</a></li>
            <li><a href="/club/form">Add a Club</a></li>
            <li><a href="/club/show">Clubs</a></li>
        </ul>

        <h3>Edit club</h3>
        {{#club}}
            <form id="clubEditForm" onsubmit="update({{id}}); return false;">
                <label for="club">Club:</label><br>
                <input type="text" id="editClubName" name="name" value="{{name}}"><br><br>
                <button type="submit">Update</button>
            </form>
        {{/club}}
        {{^club}}
            <li>No club found</li>
        {{/club}}
    </body>
</html>
